extends layouts/default
block content
	div(ng-view='')
	script.
		console.log('Here I am');
		var socket = io.connect('http://localhost:3000');
		socket.on('welcome', function(data) {
			console.log(data);
			setTimeout(function() {
				socket.emit('clientEvent', {msg: 'Hello server!'});
			}, 5000);
		});